.actionBtn {
  font-size: 4em;
  cursor: pointer;
}

.snapshot {
  text-align: center;
  img {
    max-width: 800px;
    max-height: 800px;
  }
}

ul.links {
  padding-bottom: 20px;
}

.htmlImageparent{
  display: flex;
  justify-content: center;
}
.htmlImagechild{
  width: 100%;
}
::ng-deep .webcam-wrapper .camera-switch{
  display: none !important;
}
::ng-deep{
  .webcam-wrapper{
    width: 100px !important;
    transform: scale(0.4);
  }
}
.mb2{
  padding-bottom: 2em;
}
.flexDirectioncolumn{
  flex-direction: column;
}
.navbar-brand{
  display: flex;
  align-items: center;
}
.paddingHaldem{
  padding: 0.5em;
}
// .text-card{
//   background-color: azure;
// }
.myCard{
  height: 32.5em;
}