// .snap-container {
//     margin-top: 16px;
//     margin-bottom: 16px;
//     text-align: center;
//   }
  
//   .list-unstyled {
//     list-style: none;
//   }
  
//   .list-unstyled li {
//     display: inline-block;
//     padding: 5px 10px;
//     cursor: pointer;
//   }
  
//   .gap{
//     gap: 2rem;
//   }
  .middleEl{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }
  .marginTop{
    margin-top: 1rem;
    height: 97%;
  }
  .navbar-brand1{
    font-size: xx-large;
  }