<!-- Image and text -->
<nav class="navbar navbar-light">
    <a class="navbar-brand" href="#">
      <img src="../assets/Badge_of_the_Indian_Air_Force.png" width="70" class="d-inline-block align-top mx-3" alt="">
      <h1 class="m-0">Missing Tool Detector</h1>
    </a>
  </nav>
<div class="container">
<div class="row">
    <div class="col-md-4">
        <span class="d-flex flexDirectioncolumn card p-3 my-2">
            <button [ngClass]="startStop ? 'btn-danger' : 'btn-success'" class="btn py-2 text-white" (click)="startProcess()">
                {{startStop ? 'STOP' : 'START'}}
            </button>
            <span class="text-center my-2">Number of connected Cameras: <span class="text-danger">{{numberOfDevices}}</span>  </span>
            <webcam [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam"
                [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
                [videoOptions]="videoOptions" (cameraSwitched)="cameraWasSwitched($event)"
                (initError)="handleInitError($event)"></webcam>
            <!-- <div class="actionBtn" (click)="triggerSnapshot();" title="Take Picture">📸</div>
            <div class="actionBtn"
                (click)="showNextWebcam(true);"
                title="Switch Camera">🔁</div> -->
        </span>
    </div>
    <div class="col-md-8 paddingHaldem">
        <div class="card d-flex justify-content-center myCard">
            <div class="row">
                <div class="col-md-5 m-1" *ngFor="let item of list">
                    <div class="htmlImageparent">
                        <img class="htmlImagechild" src="{{item.image  }}" alt="">
                    </div>
                    <div class="text-center my-2">Number Of Missing Tools: {{item.count}}</div>
                </div>
            </div>
        </div>
    </div>
</div>    
</div>

<h4 *ngIf="errors.length > 0">Messages:</h4>
<ul *ngFor="let error of errors">
    <li>{{error | json}}</li>
</ul>